.env
n8n_data/config

.DS_Store
.venv
node_modules/
ui/node_modules/
ui/chat-ui-react/node_modules/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

**/.venv
.venv
node_modules/
ui/node_modules/

.vscode/launch.json
eval/scheduler/nohup.out
eval/scheduler/task_*.json
