.env
n8n_data/config

.DS_Store
.venv
node_modules/
ui/node_modules/
ui/chat-ui-react/node_modules/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

**/.venv
.venv
node_modules/
ui/node_modules/

.vscode/launch.json
eval/scheduler/nohup.out
eval/scheduler/task_*.json
eval/scheduler/logging.ini
eval/scheduler/logging.ini
eval/scheduler/run_eval_test.yaml
eval/scheduler/run_eval_with_params.yaml
eval/scheduler/run_eval_with_params_v2.yaml
eval/scheduler/eval_results.failed.example.json
eval/scheduler/eval_results.success.example.json

**/experiments/**

# Ignore all .pdf files
*.pdf

