.env
n8n_data/config

.DS_Store
.venv
node_modules/
ui/node_modules/
ui/chat-ui-react/node_modules/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

**/.venv
.venv
node_modules/
ui/node_modules/

eval/scheduler/task_17b_n8n_response.json
eval/scheduler/task_1_n8n_response.json
.vscode/launch.json
